<h1>Author Details</h1>
<h2>Name: <%= @author.name %></h2>
<p>Birthdate: <%= @author.birthdate %></p>
<p>Is Alive: <%= @author.is_alive %></p>
<p>Citation Count: <%= @author.citation_count %></p>
<p>ID: <%= @author.id %></p>
<p>Created At: <%= @author.created_at %></p>
<p>Updated At: <%= @author.updated_at %></p>
