<h2>Books By <%= @author.name %></h2>

<%= link_to 'Create Book', "/authors/#{@author.id}/books/new" %>

<% @author.books.each do |book| %>
  <h3>Title: <%= book.title %></h3>
  <% if book.subtitle %>
    <h4>Subtitle: <%= book.subtitle %></h4>
  <% end %>
  <p>Publisher: <%= book.publisher %></p>
  <p>Publication Date: <%= book.publication_date %></p>
  <p>Is In Print: <%= book.is_in_print %></p>
  <p>Page Count: <%= book.page_count %></p>
  <p>ID: <%= book.id %></p>
  <p>Created At: <%= book.created_at %></p>
  <p>Updated At: <%= book.updated_at %></p>
<% end %>
